.container {
    max-width: 1080px;
    margin: 0 auto !important;
    padding: 20px 0 !important;
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 10px !important;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0 !important;
    }
}